@import "../bootstrap/scss/bootstrap-reboot";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/type";

/* Adds imports css for components */
@import "../sass/blocks/header";
@import "../sass/blocks/wrapper";


$cnavy : #09334B;
$nflix : #e50914;
$olive1 : #F0CA62;
$fz : 14px;


h1{
   color: $cnavy;
   font-weight: bold;
}
.row2{
    background: $olive1;
    p{
        color: $cnavy;
    }
}

.str{
    font-size: $fz+4px;
    color: $cnavy;
    text-transform: uppercase;
}
