@import "../bootstrap/scss/bootstrap-reboot";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/pagination";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/images";

/* Adds imports css for components */
@import "../sass/blocks/header";
@import "../sass/blocks/wrapper";
@import "../sass/blocks/card";
@import "../sass/blocks/block";


$cnavy :  #09334B;
$nflix :  #e50914;
$olive1 : #F0CA62;
$mgris:   #f2f2f2;
$fz : 14px;


h1{
   color: $cnavy;
   font-weight: bold;
}
.row2{
    background: $olive1;
    p{
        color: $cnavy;
    }
}

.str{
    font-size: $fz+4px;
    color: $cnavy;
    text-transform: uppercase;
}

.col-3{
    h4{
        text-transform: uppercase;
    }
}
