.header{
    height: 500px;
    background: url("../images/bg3.jpg") no-repeat center;
    background-size: cover;
    .display-2{
        color: #fff;        
    }    
}
.lead{
    text-align: center;
    color: #fff;
}